{% if page.code != 4 %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="https://cdn.xanzhu.com/A3/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Khula:600|Open+Sans:400&display=swap" rel="stylesheet">
  <title>xanzhu | maintenance</title>
</head>
<body>
  {% include header.html %}
<div class="container closed">
  <h1>xanzhu is currently offline :/</h1>
  <p>Our website will remain offline until we've finished developing it!<br>This page will constantly change and update as we refine our code.</p>
  <p>Any bugs or feedback please send an email to <a href="mailto:feedback@xanzhu.com">feedback@xanzhu.com</a></p>
</div>
</body>
</html>
{% if page.code == 4 %}
{% else %}
{% break %}
{% endif %}
{% endif%}