<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="https://cdn.xanzhu.com/d2/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Khula:600|Open+Sans:300&display=swap" rel="stylesheet">
  <title>503 | Maintenance</title>
</head>
<body>

<div class="container">
  <h2>503</h2>
  <h1>Website is under maintenance.</h1>
  <p>xanzhu is being developed at this time, we've closed off the entire site while we work hard on developing this domain.</p>
  <p>Our first release of this site will be held sometime this year. This domain will continue to expand and change often as I learn more.</p>
  <p>Any bugs or feedback please send an email to <a href="mailto:feedback@xanzhu.com">feedback@xanzhu.com</a></p>
</div>
</body>
</html>
{{break}}